@font-face {
    font-family: HankenGrotesk;
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf')  format('truetype');
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex: 1;
    border: 2px solid black;
    font-family: HankenGrotesk;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-container {
    border: 2px solid green;
    display: flex;
    flex: 1 1 1;
    flex-wrap: wrap;
    width: 1000px;
    height: fit-content;
    justify-content: center;
}

.container-1 {
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius: 25px;
}

.container-1,.container-2 {
    display: flex;
    flex: 50% 0 1;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid rgb(210, 35, 35);
    min-width: 30em;
    min-height: 40em;
}

.list-1,.list-2 {
    list-style: none;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.list-1,.list-2 li {
    font-size: 1.1em;
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 50%;
    height: 15em;
    width: 15em;
    margin: 0.5em 0 0 0;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}

.result {
    color: hsl(241, 100%, 89%);
    font-size: 160%;
    margin: 1em 0 1em 0;
}

.seventysix {
    font-size: 500%;
    font-weight: 800;
    color: hsl(221, 100%, 96%)
}

.hundred {
    color: hsl(241, 100%, 89%);
    font-size: 110%;
}

.great {
    color: hsl(221, 100%, 96%);
    font-size: 200%;
    font-weight: 700;
    margin: 1em 0 0.5em 0;
}

.score {
    color: hsl(241, 100%, 89%);
    font-size: 120%;
    width: 62%;
    margin: 0 0 3em 0;
}


.attribution {
    display: flex;
    border: 1px solid black;
    width: 500px;
    display: flex;
    justify-content: center;
    }


.attribution a {
    display: flex;
    font-size: 11px;
    color: hsl(228, 45%, 44%);
    line-height: 2em;
    margin: 0 5px 0 5px;
}